.container{
    width: 1200px;
    margin: 0 auto;
}

.wrapper {
    margin: 0 auto;
}

.image {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width: auto;
    height: 500px;
}

.button {
    font-family: 'Open Sans';
    font-size: 20x;
    color: #ffffff !important;
    padding: 14px;
    box-shadow: 2px 2px 2px #4f4f4f;
    border-radius: 15px;
    background: #007eff;
    margin-top: 5px;
    display: block;
    text-decoration: none;
    text-align: center;
  }
  .button:hover {
    color: #ffffff !important;
    background: #120c9d;
  }

  .head {
    text-align: center;
    margin-bottom: 10px;
  }

  .head p {
    margin: 0;
  }

  .row{
    margin-bottom: 10px;
  }

  .cat {
    float: left;
  }

  


